parameters:
  reportUnmatchedIgnoredErrors: false
  level: 8
  paths:
    - src
    - resources/bootstrap5/config.php
    - resources/fomanticui2/config.php
  ignoreErrors:
    # Ignore properties and methods accessed via magic methods
    - '#Access to an undefined property RobiNN\\UiKit\\UiKit#'
    - '#Call to an undefined method RobiNN\\UiKit\\UiKit#'
    - '#Access to an undefined property object::\$uikit#'
